body{
    margin:0;
    overflow:hidden;
    background:black;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

#flower{
    font-size:25rem;
    animation:bloom 4s infinite alternate;
}

@keyframes bloom{
    from{
        transform:scale(0.8) rotate(-3deg);
    }

    to{
        transform:scale(1.1) rotate(3deg);
    }
}

#message{
    position:absolute;
    z-index:10;

    width:80%;
    text-align:center;

    color:white;
    font-size:2rem;

    background:rgba(0,0,0,0.4);

    padding:20px;
    border-radius:20px;

    opacity:0;
}
@keyframes fall{

    from{
        transform:translateY(-50px) rotate(0deg);
    }

    to{
        transform:translateY(110vh) rotate(720deg);
    }

}
